<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div>
            <a href="/">Home</a>  |  
            <a href="newtask">Add new task</a>
        </div>
        <div>
            <table border="1" cellspacing="2" cellpadding="3">
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Description</th>
                </tr>
                <% db.forEach((item, index) => { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.date %></td>
                        <td><%= item.desc %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </body>
</html>